NODE_ENV=development
PORT=3000
ROUTE_ADMIN_SECRET=change_me_for_admin_route_api
LNBITS_URL=https://legend.lnbits.com
LNBITS_ADMIN_KEY=your_admin_key_here
LNBITS_INVOICE_KEY=your_invoice_key_here
REVENUE_SPLIT_PERCENT=5
